@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.full {
  height: 100%;
  width: 100%;
}

.app-window-wrapper {
  padding: 1rem;
  border-width: 1px;
  border-radius: 0.5rem;
}

th,
td {
  padding: 0.5em;
  border: 0.5px solid;
}
